<!DOCTYPE html>
<html >
  <head>
    <link rel="stylesheet" type="text/css" href = "{{url_for('static',filename= 'styles/styles.css')}}">

    <title>api</title>
  </head>
  <body class = "inputform">
     <ul style="list-style-type:none">
    <li> "title"        : "{{book.title}}", </li>
    <li> "author"       : "{{book.author}}",</li>
    <li> "year"         : "{{book.year}}",</li>
    <li> "isbn"         : "{book.isbn}}",</li>
    <li> "review_count" : "{{info['reviews_count']}}",</li>
    <li> "average_score": "{{info['average_rating']}}",</li>
  </body>
</html>
