<!DOCTYPE html>
<html>
<head>
  <title> book </title>
</head>
  <body>
    <form method = "post" action = "{{url_for('page1_login')}}">
      <button type="submit"> Log out </button>
    </form>
    <ul>
    <li> <h3> Title: {{book.title}} </h3> </li>
    <li> <h3> Author: {{book.author}} </h3> </li>
    <li> <h3> Year: {{book.year}} </h3></li>
    <li> <h3> ISBN: {{book.isbn}} </h3></li>
    </ul>
    <h3>Users Rating</h3>
    {% for i in range(average_rating|int) %}
    &starf;
    {% endfor %}
    {% for i in range (5-average_rating|int) %}
    &star;
   {% endfor %}

    <p> {{average_rating}} average based on {{work_ratings_count}} reviews.</p>
    {% for r in rev %}
    {{r.user_username}}: {{r.rating}}
    {{r.review}}
    <br>
    {% endfor %}
    Write a review:
    <br>
    <form method = "post">
        <input type = "range" name = "points" min = "0" max ="5">
        <button formaction="{{url_for('post_review', book_title = book.title, book_isbn = book.isbn)}}"> Submit points </button>
        <textarea name="review" width=40% height=20% type = "text"> type your review here!</textarea>
        <button formaction="{{url_for ('post_review', book_title = book.title, book_isbn = book.isbn)}}"> Post</button>
      </form>
    </body>
</html>
