.inputform {
  background-image: url("home.jpg");
  background-filter: alpha(opacity=50);
  background-size: cover;
  position: relative;
  top:0;
	left:0;
  min-height: 100%;
  min-width: 100%;
}
#register_button,#login_button{
  position: relative;
  display:inline-block;
}
.form{
  position: fixed;
  margin-left: 20%;
  width: 100%;
	height: 100%;
  padding-top: 20%;
}
.button:hover{
  background-color: white;
  color: black;
}
.button:active{
  transform: translateY(2px);
}

.button{
  margin-top: 5%;
  width : 20%;
  height: 7%;
  border-radius: 10px;
  background-color: black;
  border: none;
  font-size: 100%;
  color:#ffe600;
  border-color: aliceblue;
}

label{
 margin-top: 5%;
  color: black;
   font-size:larger;
  align-self: left ;
}

input{
    border-style: solid;
    border-color: black;
    height: 5%;
    width: 40%;
    position: center;
    display: block;
    border-radius: 10px;
    padding: 10px;
  }

  .reg_form{
   margin-top: 2%;
  }
.logout_button{
  margin-left: 80%;
}

ol{
	font-size:large;
	color:white
}
.list{
	margin-top:40%;
	color: whitesmoke
}
.search{
    position: fixed;
}
p {}
a{ font-size:large;
text-decoration:none}
a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#fff;
text-decoration:underline}  /* mouse over link */
a:active  {color:#7300ff;}  /* selected link   */
span::before {content: '\A'; white-space: pre;}
